/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/vendor/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.editorconfig
/.env
/.styleci.yml
/composer.lock
/package-lock.json
/resources/views/rlustosa/
/app/Http/Controllers/Rlustosa/
.idea
/public/vendor
/resources/views/vendor
/resources/lang/vendor/log-viewer
